$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float : left;
	font_size : 1.7em;
	color: #5b0829;
	text-transform: uppercase;
	latter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	
   background-image: asset-url('zac-durant-302752.jpg');
   background-size : cover;
   height : 600px;
}

.jumbotron h1 {

color: #fff;
text-align : center;
margin-bottom: 30px;
latter-spacing : -1px;
font-weight: bold;	
}



.dropdown-menu {
	
	background-color : #5b0829;
    color: #fff9fb;
}


.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #5b0829;
    color:#ffffff;
  
  }

.btn-xtralg {
	font-size: 1.7em;
	background-color: black;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover {
	
	color: #222;

}

footer small {
	
	float: left;
}

footer ul {
	
	float: right;
	list-style: none;
}

footer ul li {
	
	float: left;
	margin-left: 15px;


}

.article-actions {

border-top: 1px solid #eaeaea;
padding-top: 5px;

}

.description {
margin-top: 0;	
}

.article-title {
	
	font-weight: bold;
	font-size: 1.5em;
}

.article-body {
	
	order-top: 1px solid #eaeaea;
	padding-top: 5px;
	padding-bottom: 5px;
}

